@media only screen and (max-width: 799px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .secContainer {
        background-color: #ffffff;
    }
    .educationContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        width: auto;
        height: auto;
        background-color: #ffffff;
    }
    .cont1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        background-color: #ffffff;
    }
    .cont2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        background-color: #ffffff;
    }
    .educationTitle{
        height: auto;
        width: 80%;
        margin-top: 2rem;
        padding: 10px;
    }
    .fiuContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: auto;
        margin-top: 0.9rem;
        padding: 10px;
        margin-right: 2rem;
    }
    .fiuHeader{
        height: auto;
        width: 80%;
        margin-top: 1rem;
        padding: 10px;
    }
    .fiuCrest{
        height: 90px;
        width: 90px;
        height: auto;
        width: auto;
    }
    .fiuTitle{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left:10px;
    }
    .FIU{
        color: #081E3F;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin-top: 5px;
    }
    .GRAD{
        font-size: 15px;
        font-family: 'Inter', sans-serif;
    }
    .educationDescription{
        font-family: 'Inter', sans-serif;
        height: auto;
        width: 80%;
        font-size: 16px;
        margin-top: 20px;
        text-align: left;
    }
    .orgContainer{
        display: flex;
        flex-direction: row;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .init{
        margin: 1rem;
    }
    .breakThroughTech{
        margin: 1rem;
    }
    .shellhacksContainer{
        margin-top: 1rem;
        display: flex;
        width: 80%;
        height: auto;
        flex-direction: column;
    }
    .shellhacksPicture{
        border-radius: 15px;
        width: 100%;
        height: auto;
    }
    .shellhacks2023{
        font-weight: 100;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        align-self: end;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 630px) {
    .fiuTitle{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left:10px;
    }
    .FIU{
        color: #081E3F;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin-top: 10px;
    }
    .GRAD{
        font-size: 15px;
        font-family: 'Inter', sans-serif;
    }
    
}

@media only screen and (min-width: 800px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .secContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: #ffffff;
    }
    .educationContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4rem;
        width: auto;
        height: auto;
        background-color: #ffffff;
    }
    .cont1{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        background-color: #ffffff;
        margin-left: 10%;
    }
    .cont2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        background-color: #ffffff;
        margin-right: 10%
    }
    .educationTitle{
        height: 0px;
        width: 0px;
    }
    .fiuContainer{
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        margin-top: 0.9rem;
        padding: 10px;
        margin-right: 2rem;
    }
    .fiuHeader{
        height: auto;
        width: 290px;
        margin-top: 1rem;
        padding: 5px;
        margin-left: 5%;
        align-self: left;
    }
    .fiuTitle{
        width: auto;
        height: auto;
    }
    .FIU{
        color: #081E3F;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }
    .educationDescription{
        font-family: 'Inter', sans-serif;
        height: auto;
        width: 80%;
        font-size: 16px;
        margin-top: 20px;
        text-align: left;
        align-self: center;
    }
    .orgContainer{
        display: flex;
        flex-direction: row;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    .init{
        margin: 1rem;
    }
    .breakThroughTech{
        margin: 1rem;
    }
    .shellhacksContainer{
        margin-top: 1rem;
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .shellhacksPicture{
        border-radius: 15px;
        width: 300px;
        height: auto;
    }
    .shellhacks2023{
        font-weight: 100;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        align-self: end;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 1200px) {
    .fiuHeader{
        height: auto;
        width: 400px;
        margin-top: 1rem;
        padding: 5px;
        margin-left: 5%;
        align-self: left;
    }
    .shellhacksPicture{
        border-radius: 15px;
        width: 400px;
        height: auto;
    }
}
@media only screen and (min-width: 1000px){
.secContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #ffffff;
}
}
@media only screen and (min-width: 1390px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .secContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: #ffffff;
        margin-top: 10rem;
    }
    .educationContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4rem;
        width: auto;
        height: auto;
        background-color: #ffffff;
    }
    .cont1{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        background-color: #ffffff;
        margin-left: 15%;
    }
    .cont2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        background-color: #ffffff;
        margin-right: 15%
    }
    .educationTitle{
        height: 0px;
        width: 0px;
    }
    .fiuContainer{
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        margin-top: 0.9rem;
        padding: 10px;
        margin-right: 2rem;
    }
    .fiuHeader{
        height: auto;
        width: 500px;
        margin-top: 1rem;
        padding: 5px;
        margin-left: 7%;
        align-self: left;
        overflow: visible;
    }
    .fiuTitle{
        width: auto;
        height: auto;
    }
    .FIU{
        color: #081E3F;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }
    .educationDescription{
        font-family: 'Inter', sans-serif;
        height: auto;
        width: 80%;
        font-size: 16px;
        margin-top: 20px;
        text-align: left;
        align-self: center;
    }
    .orgContainer{
        display: flex;
        flex-direction: row;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    .init{
        margin: 1rem;
    }
    .breakThroughTech{
        margin: 1rem;
    }
    .shellhacksContainer{
        margin-top: 1rem;
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .shellhacksPicture{
        border-radius: 15px;
        width: 400px;
        height: auto;
    }
    .shellhacks2023{
        font-weight: 100;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        align-self: end;
        margin-top: 10px;
    }
}