@media only screen and (max-width: 1009px) {
        *{
            margin: 0px;
            padding: 0px;
        }
        .expContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            width: screen;
            height: auto;
            background-color: #F6F8FA;
        }
        .experiences{
            display: flex;
            width: 80%;
            height: auto;
            flex-direction: column;
        }
        .experienceTitle{
            height: auto;
            width: auto;
            margin-top: 20px;
            padding: 10px;
        }
        .amexHeader{
            height: auto;
            width: auto;
            margin-top: 15px;
            align-self: flex-start;
        }
        .amexGroup{
            margin-top: 20px;
        }
        .amexDescription{
            font-family: 'Inter', sans-serif;
            margin-top: 20px;
            font-size: 15px;

        }
        .upcomingTitle{
            margin-top: 30px;
        }
        .googleHeader{
            margin-top: 30px;
        }
        .googleDescription{
            font-family: 'Inter', sans-serif;
            margin-left: 25px;
            margin-top: 10px;
        }
        .bullet{
            color: #4F4F4F;
        }
        .breakHeader{
            margin-top: 30px;
        }
        .breakDescription{
            font-family: 'Inter', sans-serif;
            margin-left: 25px;
            margin-top: 10px;
        }
        .AMEX2Header{
            margin-top: 30px;
        }
        .AMEX2Description{
            font-family: 'Inter', sans-serif;
            margin-left: 25px;
            margin-top: 10px;
            margin-bottom: 50px;
        }
    }
    @media only screen and (min-width: 1010px) {
       *{
        margin: 0px;
        padding: 0px;
       }
    }